fastapi==0.111.0
pytest==8.2.2
pytest-asyncio==0.23.7
SQLAlchemy==2.0.31
greenlet==3.0.3 # for sqlalchemy[asyncio]
asyncpg==0.29.0
pydantic-settings==2.3.0
aioredis==2.0.1
alembic==1.13.2
passlib==1.7.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
pyjwt==2.8.0
APScheduler==3.*
openpyxl==3.1.5